.space {
    background: url("assets/space.png");
    width: 70%;

    position: fixed;
    top: 3%;
    bottom: 3%;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
}

.planet-area {
    width: 50%;

    align-self: flex-end;
}

.planet {
    width: 90%;
}

.rocket {
    width: 30%;

    z-index: -1;

    position: relative;
    margin-bottom: -42%;
    margin-left: 45%;

    transform: rotate(25deg);
}

.control-panel {
    background: rgb(73,45,9);
    background: linear-gradient(90deg, rgba(73,45,9,1) 0%, rgba(115,121,9,1) 50%, rgba(255,251,0,1) 100%);
    background-size: 20px 20px;

    width: 30%;
    height: fit-content;

    position: relative;
    right: 10%;

    align-self: center;
    text-align: center;
}

.control-panel__inner {
    margin: 5%;
    padding: 5%;

    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px,
            #282828;
    background-size: 16px 16px;
}

.check-buttons, .levers {
    display: flex;
    justify-content: space-around;

    margin: 5%;
}

input[type="range"] {
    -webkit-appearance: slider-vertical;
    width: 3%;
    height: 100px;
}

input[type="password"], input[value="OK"] {
    border: solid rgb(115,121,9);
    border-radius: 25%;

    background: #282828;

    height: 2em;
}

input[type="password"] {
    color: rgb(115,121,9);
}

input[type="button"]:enabled:hover {
    cursor: pointer;
}

input[value="OK"] {
    background: rgb(115,121,9);
}

input[value="Launch"] {
    background: rgb(255,251,0);
    border-radius: 30%;
    border: solid rgb(73,45,9);

    font-size: 1.5em;
}

.fly {
    animation: fly 3s forwards;
}

@keyframes fly {
    100% {
        transform: translate(100%, -30rem) rotate(25deg);
    }
}