.space {
    background: url("assets/space.png");
    width: 70%;

    position: fixed;
    top: 3%;
    bottom: 3%;

    left: 50%;
    transform: translateX(-50%);
}

.planet-area, .planet, .rocket {
    position: absolute;
}

.planet-area {
    width: 50%;

    top: 20%;
    bottom: 0;
}

.planet {
    width: 90%;

    left: 0;
    bottom: 0;
}

.rocket {
    width: 40%;

    top: 23%;
    right: 20%;

    transform: rotate(25deg);
}
